{% extends "layout.html" %}

{% block title %}Files{% endblock %}

{% block content %}
<h1>Your files</h1>
<table class='table'>
    <thead>
        <tr>
            <td>Name</td>
            <td>Size</td>
            <td>Uploaded</td>
        </tr>
    </thead>
    <tbody>
        {% for item in file_list %}
        <tr>
            <td><a href={{'/download/'+item['name'].split('/')[-1]}}>{{item['name'].split('/')[-1]}}</a></td>
            <td class='size'>{{item['info'].st_size}}</td>
            <td class='time'>{{item['info'].st_mtime}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

