{% extends 'layout.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<form method='POST' action='/register' class='form-horizontal'>
    <div class='form-group'>{{ form.email.label(class='control-label col-sm-2')}}<div class='col-sm-8'> {{ form.email(class=' form-control') }}</div></div>
    {% if form.email.errors %}
        <div class='row'>
            <ul class='errors alert alert-danger'>{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        </div>
    {% endif %}

    <div class='form-group'>{{ form.password.label(class='control-label col-sm-2') }}<div class='col-sm-8'>{{ form.password(class=' form-control') }}</div></div>
    {% if form.password.errors %}
        <div class='row'>
            <ul class='errors alert alert-danger'>{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        </div>
    {% endif %}
    <div class='form-group'>{{ form.confirm.label(class='control-label col-sm-2') }}<div class='col-sm-8'>{{ form.confirm(class=' form-control') }}</div></div>
    {% if form.confirm.errors %}
        <div class='row'>
            <ul class='errors alert alert-danger'>{% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        </div>
    {% endif %}
    <div class='col-sm-offset-2 col-sm-10'>
        <input type=submit class='btn'>
    </div>
</form>
{% endblock %}

