{% extends "layout.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
<h1>Upload new File</h1>
<div class='formcontainer'>
<form method=post enctype=multipart/form-data>
    <div class='row'>
    <label class='col-sm-offset-2 col-sm-4 form-group btn btn-file'><input type=file name=file></label>
    </div>
    <div class='row'>
    <input class='col-sm-offset-2 col-sm-4 btn btn-default' type=submit value=Upload>
    </div>
</form>
</div>

{% endblock %}

